.button {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  font-size: 16px;
  background-color: var(--card-bg);
  color: var(--card-color);

  &[hidden] {
    display: none;
  }

  &[disabled],
  &.disabled {
    background-color: color-mix(in srgb, transparent, #c3c3c3 54%);
    color: rgb(0 0 0 / 26%);
    cursor: default;
  }

  &.primary:not([disabled], .disabled) {
    background-color: var(--primary);
    color: var(--primary-color);
  }

  &.accent:not([disabled], .disabled) {
    background-color: var(--accent);
    color: var(--accent-color);
  }

  &.warn:not([disabled], .disabled) {
    background-color: var(--warn);
    color: white;
  }

  &.stroked {
    border: 1px solid color-mix(in srgb, transparent, currentcolor 12%);

    &[disabled],
    &.disabled {
      background-color: transparent;
    }

    &.primary:not([disabled], .disabled) {
      background-color: transparent;
      color: var(--primary);
    }

    &.accent:not([disabled], .disabled) {
      background-color: transparent;
      color: var(--accent);
    }

    &.warn:not([disabled], .disabled) {
      background-color: transparent;
      color: var(--warn);
    }
  }
}

.icon-button {
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: 0;
  border: none;
  background-color: transparent;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  margin: 0;
  overflow: visible;
  padding: 0;
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  line-height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  color: currentcolor;

  &[hidden] {
    display: none;
  }

  > svg {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin: 8px;
    background-repeat: no-repeat;
    line-height: 24px;
    fill: currentcolor;
    transition: transform 0.2s ease-out;
  }
}
